/* Start 1dooCocco stack CSS code *//*---------- stacks_in_1281_page7coccotheme Styles ---------*/.sh_stacks_in_1281_page7coccotheme{background:none; padding:0; margin:0; border:0 none;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode{background-color:#FBFFCF;color:#333333;font-family:Menlo,Monaco,Consolas,"Courier New",monospace;font-size:13px;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_keyword{color:#FF0000;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_type{color:#333333;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_string{color:#336699;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_regexp{color:#336699;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_specialchar{color:#333333;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_number{color:#333333;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_function{color:#333333;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_url{color:#666;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_date{color:#FF0000;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_time{color:#FF0000;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_file{color:#FF0000;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_ip{color:#336699;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_name{color:#336699;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_variable{color:#FF0000;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_oldfile{color:#333333;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_newfile{color:#336699;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_difflines{color:#FF0000;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_selector{color:#FF0000;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_property{color:#FF0000;font-weight:normal;font-style:normal;}.sh_stacks_in_1281_page7coccotheme .sh_sourceCode .sh_value{color:#336699;font-weight:normal;font-style:normal;}/*-------- Snippet Base Styles ----------*/#stacks_in_1281_page7 .snippet-wrap {position:relative;}*:first-child+html .snippet-wrap {display:inline-block;}* html .snippet-wrap {display:inline-block;}#stacks_in_1281_page7 .snippet-reveal{text-decoration:underline;}#stacks_in_1281_page7 .snippet-wrap .snippet-menu, .snippet-wrap .snippet-hide {position:absolute; top:10px; right:15px; font-size:13px;z-index:1;background-color:transparent;}#stacks_in_1281_page7 .snippet-wrap .snippet-hide {top:auto; bottom:10px;}*:first-child+html .snippet-wrap .snippet-hide {bottom:25px;}* html .snippet-wrap .snippet-hide {bottom:25px;}#stacks_in_1281_page7 .snippet-wrap .snippet-menu pre, .snippet-wrap .snippet-hide pre {background-color:transparent; margin:0; padding:0;}#stacks_in_1281_page7 .snippet-wrap .snippet-menu a, .snippet-wrap .snippet-hide a {padding:0 5px; text-decoration:none;background: none;}#stacks_in_1281_page7 .snippet-wrap pre.sh_sourceCode{padding:1em;line-height:1.8em;overflow:auto;position:relative;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #DDDDDD;}#stacks_in_1281_page7 .snippet-wrap pre.snippet-textonly {padding:2em;}*:first-child+html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}* html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}#stacks_in_1281_page7 .snippet-reveal pre.sh_sourceCode {padding:.5em 1em; text-align:right;}#stacks_in_1281_page7 .snippet-wrap .snippet-num li{padding-left:1.5em;}#stacks_in_1281_page7 .snippet-wrap .snippet-no-num{list-style:none; padding:.6em 1em; margin:0;}#stacks_in_1281_page7 .snippet-wrap .snippet-no-num li {list-style:none; padding-left:0;}#stacks_in_1281_page7 .snippet-wrap .snippet-num {margin:1em 0 1em 1em; padding-left:3em;}#stacks_in_1281_page7 .snippet-wrap .snippet-num li {list-style:decimal-leading-zero outside none;}#stacks_in_1281_page7 .snippet-wrap .snippet-no-num li.box {padding:0 6px; margin-left:-6px;}#stacks_in_1281_page7 .snippet-wrap .snippet-num li.box {border:1px solid; list-style-position:inside; margin-left:-3em; padding-left:6px;}*:first-child+html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}* html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}#stacks_in_1281_page7 .snippet-wrap li.box-top {border-width:1px 1px 0 !important;}#stacks_in_1281_page7 .snippet-wrap li.box-bot {border-width:0 1px 1px !important;}#stacks_in_1281_page7 .snippet-wrap li.box-mid {border-width:0 1px !important;}#stacks_in_1281_page7 .snippet-wrap .snippet-num li .box-sp {width:18px; display:inline-block;}*:first-child+html .snippet-wrap .snippet-num li .box-sp {width:27px;}* html .snippet-wrap .snippet-num li .box-sp {width:27px;}#stacks_in_1281_page7 .snippet-wrap .snippet-no-num li.box {border:1px solid;}#stacks_in_1281_page7 .snippet-wrap .snippet-no-num li .box-sp {display:none;}/* End 1dooCocco stack CSS code *//* Font style applied when the page has finished loading */

#ExtraContentPlusstacks_in_p1707_n1141_page7 #myExtraContent5,
#ExtraContentPlusstacks_in_p1707_n1141_page7 #fs {
	display: none;
}

#stacks_in_p1707_n428_page7>.s3_row {
	margin: 0 -10px;
}

#stacks_in_p1707_n428_page7>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_p1707_n428_page7>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_p1707_n428_page7>.s3_row>.s3_column {
	padding: 0 10px;
}







  


@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p1707_n428_page7>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_p1707_n428_page7>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}




  
